$blue:#324157;
$light-blue:#06A8F9;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg:#1e2a44;    //左侧菜单背景颜色
$subMenuBg:#1e2a44; //左侧子级菜单背景颜色
$menuHover:#001528; //左侧菜单悬浮颜色
$sideBarWidth: 224px;

$gnssColor:#06A8F9;
